<nav>
    <a class='nav-text' href='/about'>About</a>
    <a class='nav-text' href='/words'>View Words</a>
    <a class='nav-text' href='/words/create'>Make Cards</a>
    <a class='nav-text' href=''>Contact</a>
</nav>
<h1>Welcome to Wordly</h1>
<p>Make some word flashcards!</p>

<a href='/words/create'>Get Started!</a>

<nav>

</nav>
