<div id='header'>
    <h3>Welcome to</h3>
    <h1>Wordie</h1>
    <nav>
        <a class='nav-text' href='/about'>About</a>
        <a class='nav-text' href='/words'>View Words</a>
        <a class='nav-text' href='/words/create'>Make Cards</a>
        <a class='nav-text' href=''>Contact</a>
    </nav>
</div>
<p>Make some word flashcards!</p>

<a href='/words/create'>Get Started!</a>

<nav>

</nav>
