<div id='navbar'>
    <a href='/about'>About</a>
    <a href='/words'>View Words</a>
    <div id='header'>
        <h3>Welcome to</h3>
        <h1>Wordly</h1>
    </div>
    <a href='/words/create'>Make Cards</a>
    <a href=''>Contact</a>
</div>

<p>Make some word flashcards!</p>
<a href='/words/create'>Get Started!</a>
