<!DOCTYPE html>
<html>
<head>
    <title>Wordly - <%= @page_name %></title>
    <link rel='stylesheet' href='/css/master.css'>
    <link rel='stylesheet' href=<%= "\'/css/#{@page_name.downcase}.css\'" %>>
    <link rel='icon' href='/img/icon.png'>
</head>
<body>
    <a id='header' href='/'>
        <img src='/img/icon.png' alt='Wordly Icon'>
        <h1>Wordly</h1>
    </a>
    <div id='content'>
        <%= yield %>
    </div>
</body>
</html>
