<% if @words.any? %>
<div id='cards'>
    <a href='/words/new' id='add-word'>
        <h3>+</h3>
    </a>
    <% @words.each do |word| %>
    <label class='card'>
        <input type='checkbox' style='hidden'>
        <div class="card-faces">
            <div class='card-front'>
                <h3><%= "Front" || word.word %></h3>
            </div>
            <div class='card-back'>
                <p>Back</p>
            </div>
        </div>
    </label>
    <% end %>
</div>

<% else %>
<div id='cards-none'>
    <p>It doesn't look like you've created any word cards yet!</p>
    <p>You can make some here:</p>
    <a href='/words/create'>Make Words!</a>
</div>
<% end %>
