<div id='cards'>
    <a href='/words/new' id='add-word'>
        <h3>+</h3>
    </a>

    <% if @words.any? %>
    <% @words.each do |word| %>
    <label class='card'>
        <input type='checkbox' style='hidden'>
        <div class="card-faces">
            <div class='card-front'>
                <h3><%= word.word %></h3>
            </div>
            <div class='card-back'>
                <h4><%= word.word %></h4>
                <% if (@defs.select{|elem| elem.word_id == word.id}.length > 0) %>
                <p> <%= @defs.select{|elem| elem.word_id == word.id}[0].definition %> </p>
                <% else %>
                <p>No definitions yet!</p>
                <% end %>
                <a href="/words/<%= word.id %>">Edit Word</a>
            </div>
        </div>
    </label>
    <% end %>
    <% end %>
</div>
