body {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}
#cards {
    width: 85%;
    height: 80%;
    margin: 2rem auto;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

.card {
    padding-bottom: 60%;

    width: 100%;
    height: 100%;

    perspective: 50rem;
}
.card-content {
    width: 100%;
    height: 100%;

    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.card:hover .card-content {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    background-color: white;
}
.card-back {
    background-image: url('./../img/index_card.png');
    background-size: cover;
    transform: rotateY(180deg);
}
