.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5rem;
    text-align: center;
    color: white;
    border: 4px solid black;
}

.container .edit {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #bbd3ed;
    border-radius: 1rem;
    border: 1px solid black;
}

.container .def {
    display: block;
    text-decoration: none;
    color: white;
    font-style: italic;
}
.container .def:hover {
    color: #ffbaba;
}

.container .pos {
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
    margin-right: 1rem;
}

.container hr {
    width: 80%;
}

.container form {
    margin: 1rem;
}
