#cards {
    margin: 2rem auto;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
}

/* card-flip logic */
.card {
    height: 15rem;
    width: 25rem;
}
.card input {
    display: none;
}
.card-faces {
    height: 100%;
    width: 100%;
    border: 2px solid black;

    perspective: 50rem;
    transition: transform 750ms;
    transform-style: preserve-3d;
}
.card:hover .card-faces {
    transform: rotateY(30deg);

}
.card input:checked + .card-faces {
    transform: rotateY(180deg);
}
.card:hover input:checked + .card-faces {
    transform: rotateY(210deg);
}
.card-front {
    background-color: white;
}
.card-back {
    background-image: url('/img/card.png');
    background-size: contain;
    transform: rotateY(180deg);
}
.card-faces div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: none;
}
